.headerContainer {
  margin: 5vw;
  margin-top: 10vw;
  display: flex;
  justify-content: center;
}

.outerAbout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ray {
  width: 20vh;
  opacity: 1;
  border-radius: 10px;
  margin: 1vw;
}

.aboutBar {
  color: white;
}

.aboutBar > * {
  padding: 2vh 2vh;
}

.main {
  height: auto;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-start;
}

.helloTitle,
.myDescription,
.welcome,
.introPara {
  transition: transform 0.5s ease;
}

.helloTitle:hover,
.myDescription:hover,
.welcome:hover,
.introPara:hover {
  transform: scale(1.1);
}

.noteCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5vh 5vh;
  margin-bottom:10vh;
}



@media screen and (max-width: 450px) {
  .outerAbout {
    flex-direction: column-reverse;
  }
  .aboutBar > * {
    text-align: center;
  }
  .helloTitle {
    padding-top: 4vh;
  }
}
