
.list {
    display:flex;
    justify-content: space-around;
    align-items:center;
    height:8vh;
    width:30%;
    margin-left:70%;
}

.listObject {
    list-style: none;
    cursor: pointer;
    padding:1svh;
    font-size: x-large;
    transition:transform 0.5s ease;
}

.listObject:hover {
    transform: scale(1.3)
}
