
.mainContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.softwareContainer, .clubContainer, .hardwareContainer {
    display:flex;
    flex-wrap: wrap;
    width:80%;
    justify-content: space-around;
}

.softwareContainer > * {
    margin:1vw 10vw;
    padding:1vh 2.5vw;
    border:2px solid white;
}

.clubContainer > * {
    margin:1vw 2.5vw;
    padding:1vh 2.5vw;
    border:2px solid white;

}

.hardwareContainer > * {
    margin:1vw 2.5vw;
    padding:1vh 2.5vw;
    border:2px solid white;

}