
.mainContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.softwareContainer, .clubContainer, .hardwareContainer {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-around;
}

.softwareContainer > * {
    margin:1vw 5vw;
    padding:1vh 2.5vw;
    border:2px solid white;
}

.clubContainer > * {
    margin:1vw 2.5vw;
    padding:1vh 2.5vw;
    border:2px solid white;

}

.hardwareContainer > * {
    margin:1vw 2.5vw;
    padding:1vh 2.5vw;
    border:2px solid white;
}

.softwareSection, .clubSection, .hardwareSection {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:10vh;
    width:100%;
}

.sectionTitle {
    padding:.5vh;
    margin: 2.5vh;
    font-size:5vh;
    border-bottom:2px solid white;
    transition: transform 0.5s ease-in-out;
}

.sectionTitle:hover {
    transform: scale(1.1);
}


.spinContainer {
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:450px){
    .sectionTitle {
        font-size:6vw;
    }

    .softwareContainer,.clubContainer, .hardwareContainer {
        max-width:80%;
    }

    .softwareContainer>*,.clubContainer>*, .hardwareContainer > * {
        margin:2vh;
    }

    .softwareSection, .clubSection, .hardwareSection {
        margin-bottom:2vh;
    }
}