.footer {
  position: fixed;
  bottom:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: black;
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style-type: none;
}

.list > * {
  cursor: pointer;
}

.insta,
.github,
.linkedin {
  width: 4.5vw;
  height: 4.5vw;
  padding:.5vw;
}

.insta {
  width: 5vw;
  height: 5vw;
}

@media screen and (max-width: 450px) {
  .footer {
    background-color: black;
    bottom: 0;
  }
  
.insta,
.github,
.linkedin {
  width: 4.5vh;
  height: 4.5vh;
  padding:.5vw;
}
}
